<div class="container mt-4">
  <h1>New bookmark</h1>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :content %>
    <%= f.submit "Submit bookmark", class: "btn btn-primary" %>
  <% end %>
  <hr>
  <%= link_to 'Go back', list_path(params[:list_id]), class: "btn btn-primary" %>
</div>
